* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/background.jpg');
    font-family: "Carter One";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    flex-direction: column;
}

#heading-main {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

#rock-heading,
#paper-heading,
#scissors-heading {
    font-family: "Sigmar One";
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

#rock-heading {
    color: #c22525;
}

#paper-heading {
    color: #0a7533;
    padding-left: 7%;
}

#scissors-heading {
    color: #1a57b3;
}

#main {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#round,
#result,
#score,
#message {
    margin-bottom: 15px;
    margin-top: 15px;
}