* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/background.jpg');
    font-family: "Carter One";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    flex-direction: column;
}

#heading-main {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

#rock-heading,
#paper-heading,
#scissors-heading {
    font-family: "Sigmar One";
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h1 {
    font-size: 50px;
}

#rock-heading {
    color: #c22525;
}

#paper-heading {
    color: #0a7533;
    padding-left: 7%;
}

#scissors-heading {
    color: #1a57b3;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 415px;
}

#round,
#message {
    font-size: 30px;
}

#result,
#score {
    font-size: 23px;
}

#round,
#result,
#score,
#message {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 22px;
}

.buttons {
    width: 1100px;
    display: flex;
    justify-content: space-evenly;
}

button:hover {
    cursor: pointer;
}

#rock,
#paper,
#scissors {
    height: 290px;
    width: 290px;
    border-radius: 50%;
    border: 8px solid #000;
    background-size: 340px;
    background-position: center;
}

#rock {
    background-image: url('images/rock.png');
}

#rock:hover {
    border: 8px solid #c22525;
}

#paper {
    background-image: url('images/paper.png');
}

#paper:hover {
    border: 8px solid #0a7533;
}

#scissors {
    background-image: url('images/scissors.png');
}

#scissors:hover {
    border: 8px solid #1a57b3;
}